*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-*.php
wp-content/
wp-admin/
wp-includes/
core/
/index.php
/xmlrpc.php
/readme.html
/license.txt
/migration_file.zip
/migration_bdd.sql
vendor/
composer.lock